/* Demo Local Storage HTML 5 */

body {
	background-color: lightgray;
}

#note > p {
	font-size: xx-large;
	font-style: italic;
}

#form1 {
	float:left;
	padding: 10px;
	border: 1px solid white;
}

#msg {
	alignment: left;
	color: green;
	font-size: large;
}

#data > div { padding: 10px; border: 1px solid white; alignment: left;}